* {
    box-sizing: border-box;
    margin: 1;
    border: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
}

title {
    display: none;
}
/* header styling */

header {
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(181, 9, 35);
    display: block;
}

header h1 {
    display: inline-block;
    font-size: 40px;
    color: bisque;
    background-color: rgb(181, 9, 35);
}
/* styling for the header nvaigation bar */

header nav {
    display: inline-flex;
    float: right; 
    padding-left: 15px;
    margin-right: 20px;
    font-size: 15px;
    color: bisque;
    background-color: rgb(181, 9, 35);
}

header nav a {
    display: inline-flex;
    margin-left: 20px;
    color: bisque;
    text-decoration: solid;
    background-color: rgb(181, 9, 35);
}  

.hero {
    background-image: url("../images/background-photo.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.img src {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    min-height: 100%; 
}

.title h2 {
    display: block;
    text-decoration: solid;
    text-align: left;
    background-color: rgb(181, 9, 35);
}

.projects p {
    padding: 20px;
    line-height: 1.3;
    font-size: 15px;    
}

.projects-1 {
    display: grid;
    border: solid;
    color: black;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    opacity: 1;   
}

footer {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: auto;
    margin-bottom: 20px;
}

.contact-me{
    align-items: center;
    font-size: 15px;
    text-decoration: solid;
}

@media screen {
    min-width: none;
    max-width: 992px;
}